<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ "stms.orders.title" | translate }}</h1>
    <div class="actions">
      <button
        (click)="fetchOrders()"
        mat-raised-button
        class="actions-main"
        color="primary"
        [disabled]="(ordersLoadingState$ | async) === 'LOADING'"
        type="button"
      >
        {{ "stms.orders.get-orders" | translate }}
      </button>
    </div>
    <div class="content">
      <ng-container [ngSwitch]="ordersLoadingState$ | async">
        <st-orders-table
          *ngSwitchCase="'LOADED'"
          (addFavorite)="onAddFavorite($event)"
          (deleteFavorite)="onDeleteFavorite($event)"
          [orders]="orders$ | async"
        ></st-orders-table>
        <mat-spinner *ngSwitchCase="'LOADING'" [diameter]="50"></mat-spinner>
      </ng-container>
    </div>
  </div>
</div>
