<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ "stms.favorites.title" | translate }}</h1>
    <div class="content">
      <mat-tab-group>
        <mat-tab label="{{ 'stms.patients.title' | translate }}">
          <st-patients-table
            [withSearch]="true"
            (deleteFavorite)="onDeletePatientFavorite($event)"
            [patients]="patients$ | async"
            [favoriteAction]="'delete'"
          ></st-patients-table>
        </mat-tab>
        <mat-tab label="{{ 'stms.orders.title' | translate }}">
          <st-orders-table
            [withSearch]="true"
            (deleteFavorite)="onDeleteOrderFavorite($event)"
            [orders]="orders$ | async"
            [favoriteAction]="'delete'"
          ></st-orders-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
