<mat-form-field *ngIf="withSearch">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Order name">
</mat-form-field>

<table
  *ngIf="dataSource?.data.length; else noOrders"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 orders-table"
>
  <ng-container matColumnDef="orderName">
    <th mat-header-cell *matHeaderCellDef>Order name</th>
    <td mat-cell *matCellDef="let element">{{ element.orderName }}</td>
  </ng-container>
  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef>Created by</th>
    <td mat-cell *matCellDef="let element">
      {{ element.creator?.name || "-" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef>Creation date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.creationDate?.formattedDate || "-" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="facility">
    <th mat-header-cell *matHeaderCellDef>Facility</th>
    <td mat-cell *matCellDef="let element">
      {{ element.facility?.name || "-" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="patient">
    <th mat-header-cell *matHeaderCellDef>Patient</th>
    <td mat-cell *matCellDef="let element">
      {{ element.patient?.fullName || "-" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Favorite</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        *ngIf="favoriteAction === 'toggle'"
        (change)="toggleFavorite(element)"
        [checked]="element.isFavorite"
      ></mat-checkbox>
      <button
        *ngIf="favoriteAction === 'delete'"
        mat-icon-button
        color="warn"
        (click)="deleteFromFavorite(element)"
      >
        <mat-icon><fa-icon icon="trash"></fa-icon></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #noOrders>
  <div>No orders found</div>
</ng-template>
