<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ "stms.patients.title" | translate }}</h1>
    <div class="actions">
      <button
        (click)="fetchPatients()"
        mat-raised-button
        class="actions-main"
        [disabled]="(patientsLoadingState$ | async) === 'LOADING'"
        color="primary"
      >
        {{ "stms.patients.get-patients" | translate }}
      </button>
    </div>
    <div class="content">
      <ng-container [ngSwitch]="patientsLoadingState$ | async">
        <st-patients-table
          *ngSwitchCase="'LOADED'"
          (addFavorite)="onAddFavorite($event)"
          (deleteFavorite)="onDeleteFavorite($event)"
          [patients]="patients$ | async"
        ></st-patients-table>
        <mat-spinner *ngSwitchCase="'LOADING'" [diameter]="50"></mat-spinner>
      </ng-container>
    </div>
  </div>
</div>
