<ng-container *ngIf="dataSource?.data.length; else noPatients">
  <mat-form-field *ngIf="withSearch">
    <mat-label>{{ "stms.favorites.search" | translate }}</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="{{ 'stms.patients.first-name' | translate }}"
    />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 patients-table"
  >
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>
        {{ "stms.patients.code" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>
        {{ "stms.patients.first-name" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstName || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>
        {{ "stms.patients.last-name" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.lastName || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>
        {{ "stms.patients.age" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.birthDate?.formattedDate | age }}
      </td>
    </ng-container>
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef>
        {{ "stms.patients.gender" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.sex?.name || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        {{ "stms.patients.favorite" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          *ngIf="favoriteAction === 'toggle'"
          (change)="toggleFavorite(element)"
          [checked]="element.isFavorite"
        ></mat-checkbox>
        <button
          *ngIf="favoriteAction === 'delete'"
          mat-icon-button
          color="warn"
          (click)="deleteFromFavorite(element)"
        >
          <mat-icon><fa-icon icon="trash"></fa-icon></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="!dataSource?.filteredData.length" class="empty-results">
    {{ "stms.patients.not-found" | translate }}
  </div>
</ng-container>

<ng-template #noPatients>
  <div>{{ "stms.patients.no-patients" | translate }}</div>
</ng-template>
