:host {
  display: block;
  padding-top: 10px;

  .patients-table {
    width: 100%;
  }

  .mat-checkbox {
    margin-left: 16px;
  }

  &::ng-deep {
    mat-checkbox {
      label {
        margin-bottom: 0;
      }
    }
  }
}
